<h1>Notificação de reativação de reunião</h1>
<h2>Data de envio: <%= Time.now.strftime("%d/%m/%Y %H:%M") %></h2>

<br />
Olá, <strong><%= @convite.destinatario.nome %></strong>
<br />

A reunião do fórum <strong><%= @reuniao.forum['nome'] %></strong> <br />
anteriormente cancelada, foi <strong>reativada</strong>.<br />
Para maiores detalhes, acesse sua dashboard.

<br />
<br />
<p>MeetingUP</p>
